body {
  margin: 0;
  font-family: "Montserrat";
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #121212;
  overflow-x: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.aboutMePage {
  height: 100vh;
  position: relative;
}

.aboutMePage .intro {
  height: 100%;
  position: relative;
}

.aboutMePage .quote {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMePage .quote h1 {
  font-family: "Raleway";
  font-size: 3.9vw;
  margin: 0;
  color: #ffffff;
  line-height: 1.4;
  letter-spacing: 0.02em;
  mix-blend-mode: difference;
  cursor: none;
}

.aboutMePage .quote h1 div.line1 {
  text-align: left;
  overflow: hidden;
}

.aboutMePage .quote h1 div.line1 div {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
}

.aboutMePage #hide_arrow {
  position: absolute;
  right: 6.25vw;
  bottom: 3%;
  font-size: 2vw;
  margin: 0;
}

.aboutMePage #hide_arrow #arrowDown {
  color: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.aboutMePage .socialsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4vw;
}

.aboutMePage .socialsInfo a {
  text-decoration: none;
}

.aboutMePage .socialsInfo a h2 {
  font-size: calc(24px + 3vw);
  margin: 1vw 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.aboutMePage .socialsInfo a h2#instagram:hover {
  -webkit-text-stroke: 2px #e1306c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-shadow: 3px -3px 2px #e1306c;
}

.aboutMePage .socialsInfo a h2#github:hover {
  -webkit-text-stroke: 2px #e3e3e3;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-shadow: 3px -3px 2px #e3e3e3;
}

.aboutMePage .socialsInfo a h2#linkedin:hover {
  -webkit-text-stroke: 2px #2867b2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-shadow: 3px -3px 2px #2867b2;
}

.aboutMePage .accomplishmentsGrid {
  padding: 10vw 4vw 16vw 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.aboutMePage .accomplishmentsGrid .awards {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.aboutMePage .accomplishmentsGrid .awards:nth-child(odd) {
  margin: 8em 0 10em 0;
}

.aboutMePage .accomplishmentsGrid .desc {
  font-family: "Montserrat";
  margin: 2vw 0 1.5vw 0;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.aboutMePage .accomplishmentsGrid .title_achievement {
  margin: 0;
  font-size: calc(16px + 0.35vw);
  line-height: 1.7em;
  font-family: "Raleway";
  letter-spacing: 1px;
  font-weight: 400;
  color: #ffffff;
  overflow: hidden;
}

.aboutMePage .accomplishmentsGrid .title_achievement div {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.aboutMePage .accomplishmentsGrid h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: calc(16px + 0.25vw);
}

.aboutMePage .accomplishmentsGrid .image1,
.aboutMePage .accomplishmentsGrid .image2,
.aboutMePage .accomplishmentsGrid .image3,
.aboutMePage .accomplishmentsGrid .image4 {
  height: 60vh;
  width: 26vw;
}

.dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.dark.hideDark {
  display: none;
}

.dark .closeWebsite {
  margin: 0;
  font-size: 4.6vw;
  font-weight: 600;
  letter-spacing: 10px;
  color: #fff;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.dark svg#contactMeSvg {
  position: absolute;
  z-index: 999;
  right: 10%;
  bottom: 10%;
  width: 180px;
  cursor: pointer;
  fill: #b2a3fc;
  -webkit-animation: spin2 8s linear infinite;
          animation: spin2 8s linear infinite;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark svg#contactMeSvg:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes spin2 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin2 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=aboutMe.css.map */