* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Montserrat";
  color: #121212;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #121212;
  overflow-x: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.dark.hideDark {
  display: none;
}

.dark .closeWebsite {
  margin: 0;
  font-size: 4.6vw;
  font-weight: 600;
  letter-spacing: 10px;
  color: #fff;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.dark svg#contactMeSvg {
  position: absolute;
  z-index: 999;
  right: 10%;
  bottom: 10%;
  width: 180px;
  cursor: pointer;
  fill: #b2a3fc;
  -webkit-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark svg#contactMeSvg:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.loading {
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .outsideSpaceTxt {
  padding: 7.4vw 0 0 16vw;
}

.loading .outsideSpaceTxt .introText {
  letter-spacing: 0.15vw;
  color: #ffffff;
  mix-blend-mode: difference;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: none;
}

.loading .outsideSpaceTxt .introText #fall {
  display: inline-block;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.loading .outsideSpaceTxt .introText span.strokeWord {
  color: transparent;
  -webkit-text-stroke: 2.5px #ffffff;
  text-shadow: 0 0 0 transparent;
}

.loading .outsideSpaceTxt .introText h2#name,
.loading .outsideSpaceTxt .introText h2#name2 {
  font-size: calc(24px + 4.4vw);
  overflow: hidden;
  background: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  margin: 0;
}

.loading .outsideSpaceTxt .introText h2#name #text_name,
.loading .outsideSpaceTxt .introText h2#name #text_name2,
.loading .outsideSpaceTxt .introText h2#name2 #text_name,
.loading .outsideSpaceTxt .introText h2#name2 #text_name2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.loading #hide_arrow {
  position: absolute;
  right: 6.25vw;
  bottom: 0;
  font-size: 2vw;
  text-shadow: -1px 3px 3px #444;
}

.loading #hide_arrow #arrowDown {
  color: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.loading .circle_wrap {
  padding: 12.6vw 0 0 16vw;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading .circle_wrap .circ {
  position: relative;
  width: 24vw;
  height: 24vw;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loading .circle_wrap .circ svg {
  fill: none;
}

.loading .circle_wrap .circ .path {
  stroke-width: 2px;
  stroke: white;
  stroke-dasharray: 1060;
  stroke-dashoffset: 1028;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.loading .circle_wrap .circ .center_text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: "Raleway";
  font-size: 1vw;
  line-height: 1.5vw;
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loading .circle_wrap .circ .center_text:hover {
  text-shadow: -1px 4px 4px #444;
}

.loading .circle_wrap .circ .center_text .text_category {
  margin: 1vw 0;
  overflow: hidden;
  color: #ffffff;
  font-weight: 600;
}

.loading .circle_wrap .circ .center_text .text_category div {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.loading .circle_wrap .circ .date {
  position: absolute;
  left: 75%;
  top: 0%;
  white-space: nowrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.loading .circle_wrap .circ .date .dayWrapper {
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

.loading .circle_wrap .circ .date .dayWrapper .day {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  font-weight: 800;
  background-size: 0 100%;
  font-size: 5vw;
  letter-spacing: 0.25vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.loading .circle_wrap .circ .date #info {
  padding-left: 1vw;
}

.loading .circle_wrap .circ .date #info #info_date_wrapper1,
.loading .circle_wrap .circ .date #info #info_date_wrapper2 {
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.loading .circle_wrap .circ .date #info #info_date_wrapper1 .info_date,
.loading .circle_wrap .circ .date #info #info_date_wrapper2 .info_date {
  text-align: left;
  letter-spacing: 0.25vw;
  color: #ffffff;
  font-size: 1.2vw;
  text-shadow: -1px 4px 4px #444;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.loading .circle_wrap .circ .date #info #info_date_wrapper1 .info_date#month,
.loading .circle_wrap .circ .date #info #info_date_wrapper2 .info_date#month {
  font-weight: 800;
}

.loading .circle_wrap .circ .date #info #info_date_wrapper1 .info_date#status,
.loading .circle_wrap .circ .date #info #info_date_wrapper2 .info_date#status {
  font-family: "Raleway";
  font-weight: 500;
  padding: 0.35vw 0 0 0;
}

.loading .circle_wrap #description {
  font-family: "Raleway";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10vw;
  text-align: left;
  position: relative;
  opacity: 1;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  color: #ffffff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.loading .circle_wrap #description .contact {
  overflow: hidden;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 99;
  top: 43%;
  left: -4vw;
  cursor: pointer;
}

.loading .circle_wrap #description .contact .contactText {
  font-size: 1.4vw;
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.loading .circle_wrap #description .contact .contactText:hover {
  text-shadow: -2px 3px 3px #444;
  color: #b2a3fc;
}

.loading .circle_wrap #description .descLine {
  overflow: hidden;
}

.loading .circle_wrap #description .descLine div {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.loading .circle_wrap #description div {
  font-size: 1.05vw;
  letter-spacing: 0.1vw;
  line-height: 2.05vw;
  font-weight: 500;
}

.loading .circle_wrap #description #go_right {
  padding-left: 4.2vw;
}

.whatIdo {
  height: auto;
  position: relative;
  padding: 0;
}

.whatIdo .categories {
  position: relative;
  margin: 20vw 0 0 14vw;
}

.whatIdo .categories h2.mainTitles {
  margin: 0;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: calc(16px + 4vw);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  mix-blend-mode: difference;
  overflow: hidden;
  background-color: transparent;
}

.whatIdo .categories h2.mainTitles #rotate {
  color: transparent;
  -webkit-text-stroke: 0.5px #ffffff;
  text-shadow: 0 0 0 transparent;
}

.whatIdo .categories h2.mainTitles div.what {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.whatIdo .categories .slider {
  margin: 8vw 0 0 0;
}

.whatIdo .categories .slider .slide-track {
  -webkit-animation: categoriesCarousel 14s linear infinite;
          animation: categoriesCarousel 14s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(36.3vw * 12);
}

.whatIdo .categories .slider .slide-track.paused1 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.whatIdo .categories .slider .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 36.3vw;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.whatIdo .categories .slider .slide-track .slide h3 {
  padding: 1.25vw 0;
  font-family: "Raleway";
  display: block;
  font-size: calc(20px + 0.01vw);
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.whatIdo .categories .slider .slide-track .slide h3 a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: calc(24px + 2vw);
  letter-spacing: -0.005em;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: transparent;
  text-shadow: -1px 11px 10px #747171;
}

.whatIdo .categories .slider .slide-track .slide:hover .fe a,
.whatIdo .categories .slider .slide-track .slide:hover .be a,
.whatIdo .categories .slider .slide-track .slide:hover .uiux a,
.whatIdo .categories .slider .slide-track .slide:hover .tt a,
.whatIdo .categories .slider .slide-track .slide:hover .mdev a,
.whatIdo .categories .slider .slide-track .slide:hover .st a {
  color: #ffffff;
  text-shadow: 10px -6px 6px #444;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  font-weight: 400;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_be,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.skills {
  height: auto;
  margin: 18vw 0 0 0;
}

.skills h2.mainTitles {
  margin: 0 0 0 14vw;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: calc(16px + 4vw);
  text-transform: uppercase;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  mix-blend-mode: difference;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.skills h2.mainTitles .stroke {
  color: transparent;
  -webkit-text-stroke: 0.5px #ffffff;
  text-shadow: 0 0 0 transparent;
}

.skills h2.mainTitles .exp {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.skills .carouselLine {
  width: 0%;
  border: 0.35px solid #ffffff;
  opacity: 0.4;
}

.skills hr {
  margin: 2vw 0;
  background-color: #ffffff;
}

.skills .slider2 {
  padding: 10vw 0 1.5vw 0;
}

.skills .slider2 .slide-track2 {
  -webkit-animation: carrousel 30s linear infinite;
          animation: carrousel 30s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(30vw * 18);
}

.skills .slider2 .slide-track2.paused2 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.skills .slider2 .slide-track2 .slide2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  width: 30vw;
}

.skills .slider2 .slide-track2 .slide2:hover h3 {
  color: #ffffff;
}

.skills .slider2 .slide-track2 .slide2 h3.slideTitle {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway";
  display: block;
  color: transparent;
  text-shadow: -1px 11px 10px #747171;
  font-size: calc(20px + 2vw);
  text-align: center;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

.skills .slider2 .slide-track2 .slide2 h3.slideTitle .up {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.skills .slider2 .slide-track2 .slide2 h3.slideTitle:hover {
  color: #ffffff;
  text-shadow: 10px -6px 6px #444;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  font-weight: 400;
}

.skills #line {
  margin: 0;
  stroke: #ffffff;
  stroke-width: 1px;
}

.skills .slider3 {
  padding: 1.5vw 0 4vw 0;
}

.skills .slider3 .reverse {
  -webkit-animation: carrouselReverse 30s linear infinite;
          animation: carrouselReverse 30s linear infinite;
  animation-direction: reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(30vw * 16);
}

.skills .slider3 .reverse.paused3 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.skills .slider3 .reverse .slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  width: 30vw;
}

.skills .slider3 .reverse .slide3:hover h3 {
  color: #ffffff;
}

.skills .slider3 .reverse .slide3 h3.slideTitle2 {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway";
  display: block;
  font-size: calc(20px + 2vw);
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.005em;
  color: transparent;
  text-shadow: -1px 11px 10px #747171;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

.skills .slider3 .reverse .slide3 h3.slideTitle2 .up2 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.skills .slider3 .reverse .slide3 h3.slideTitle2:hover {
  color: #ffffff;
  text-shadow: 10px -6px 6px #444;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  font-weight: 400;
}

.talkToMe {
  position: relative;
  height: auto;
  padding: 8.6vw 0 24vw 14vw;
  mix-blend-mode: difference;
}

.talkToMe h2.longText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 4.5vw;
  letter-spacing: 0.2vw;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  mix-blend-mode: difference;
  cursor: none;
  background-color: transparent;
  overflow: hidden;
}

.talkToMe h2.longText span.strokeWord {
  color: transparent;
  -webkit-text-stroke: 2.5px #ffffff;
}

.talkToMe h2.longText .longTextDiv {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.talkToMe h2.longText #talk_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  mix-blend-mode: difference;
  cursor: none;
}

.talkToMe h2.longText #talk_btn::after {
  content: "";
  position: absolute;
  bottom: -6%;
  left: 50%;
  background: #ffffff;
  width: 0%;
  height: 10px;
  border-radius: 1px;
  -webkit-transition: all 0.6s ease-in-out 0.1s;
  transition: all 0.6s ease-in-out 0.1s;
}

.talkToMe h2.longText #talk_btn:hover::after {
  width: 50%;
}

.talkToMe #rotatingContact {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 200px;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: "Raleway";
  mix-blend-mode: difference;
  cursor: pointer;
  fill: #ffffff;
  -webkit-animation: spin 16s linear infinite;
          animation: spin 16s linear infinite;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.talkToMe #rotatingContact:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes roundandround {
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes roundandround {
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin2 {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes blinking {
  0%,
  9%,
  20%,
  29%,
  40%,
  49% {
    opacity: 0;
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0%,
  9%,
  20%,
  29%,
  40%,
  49% {
    opacity: 0;
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fragile {
  0%,
  9%,
  20%,
  29%,
  40%,
  50% {
    -webkit-transform: translateX(10%) rotate(4deg);
            transform: translateX(10%) rotate(4deg);
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    -webkit-transform: translateX(25%) rotate(0deg);
            transform: translateX(25%) rotate(0deg);
  }
}

@keyframes fragile {
  0%,
  9%,
  20%,
  29%,
  40%,
  50% {
    -webkit-transform: translateX(10%) rotate(4deg);
            transform: translateX(10%) rotate(4deg);
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    -webkit-transform: translateX(25%) rotate(0deg);
            transform: translateX(25%) rotate(0deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes categoriesCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-36.3vw * 6));
            transform: translateX(calc(-36.3vw * 6));
  }
}

@keyframes categoriesCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-36.3vw * 6));
            transform: translateX(calc(-36.3vw * 6));
  }
}

@-webkit-keyframes carrousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 9));
            transform: translateX(calc(-30vw * 9));
  }
}

@keyframes carrousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 9));
            transform: translateX(calc(-30vw * 9));
  }
}

@-webkit-keyframes carrouselReverse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 8));
            transform: translateX(calc(-30vw * 8));
  }
}

@keyframes carrouselReverse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 8));
            transform: translateX(calc(-30vw * 8));
  }
}
/*# sourceMappingURL=index.css.map */