body {
  margin: 0;
  font-family: "Montserrat";
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #121212;
  overflow-x: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.showcasePage .titleWrapper {
  padding: 10vw 0 4vw 16vw;
}

.showcasePage .titleWrapper h1.title {
  margin: 0;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: calc(24px + 5vw);
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  mix-blend-mode: difference;
  background-color: transparent;
  overflow: hidden;
  cursor: none;
}

.showcasePage .titleWrapper h1.title .stroke {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: 0 0 0 transparent;
}

.showcasePage .titleWrapper h1.title div {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
}

.showcasePage .right1,
.showcasePage .left1 {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0;
}

.showcasePage .right2,
.showcasePage .left2,
.showcasePage .right3,
.showcasePage .left3 {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.showcasePage .grid {
  padding: 8vw 14vw 16vw 14vw;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 16vw;
          column-gap: 16vw;
  row-gap: 8em;
}

.showcasePage .grid .gridCell {
  height: 60vh;
}

.showcasePage .grid .gridCell:nth-child(odd) {
  margin: 10em 0 16em 0;
}

.showcasePage .grid .gridCell .imageContainer1,
.showcasePage .grid .gridCell .imageContainer2,
.showcasePage .grid .gridCell .imageContainer3,
.showcasePage .grid .gridCell .imageContainer4,
.showcasePage .grid .gridCell .imageContainer5,
.showcasePage .grid .gridCell .imageContainer6 {
  width: 28vw;
  height: 70vh;
}

.showcasePage .grid .gridCell .projectName {
  font-family: "Montserrat";
  color: #ffffff;
  margin: 2vw 0 1.5vw 0;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.showcasePage .grid .gridCell .projectDesc {
  margin: 0;
  font-size: calc(16px + 0.25vw);
}

.showcasePage .grid .gridCell .projectDesc .line {
  background-color: transparent;
  overflow: hidden;
}

.showcasePage .grid .gridCell .projectDesc .line div {
  color: #ffffff;
  line-height: 1.7em;
  font-family: "Raleway";
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.dark.hideDark {
  display: none;
}

.dark .closeWebsite {
  margin: 0;
  font-size: 4.6vw;
  font-weight: 600;
  letter-spacing: 10px;
  color: #fff;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.dark svg#contactMeSvg {
  position: absolute;
  z-index: 999;
  right: 10%;
  bottom: 10%;
  width: 180px;
  cursor: pointer;
  fill: #b2a3fc;
  -webkit-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark svg#contactMeSvg:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=showcase.css.map */