@import "variables.scss";

body {
  margin: 0;
  font-family: $fontTitle;
  color: $textColor1;
  user-select: none;
  background-color: #121212;
  overflow-x: hidden;
  touch-action: pan-y;
}

.aboutMePage {
  height: 100vh;
  position: relative;

  .intro {
    height: 100%;
    position: relative;
  }

  .quote {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: $fontText;
      font-size: 3.9vw;
      margin: 0;
      color: $textColor1;
      line-height: 1.4;
      letter-spacing: 0.02em;
      mix-blend-mode: difference;
      cursor: none;

      div.line1 {
        text-align: left;
        overflow: hidden;

        div {
          transform: translateY(80%);
        }
      }
    }
  }

  #hide_arrow {
    // overflow: hidden;
    // background: transparent;
    position: absolute;
    right: 6.25vw;
    bottom: 3%;
    font-size: 2vw;
    margin: 0;

    #arrowDown {
      color: $textColor1;
      transform: translateY(-100%);
    }
  }

  .socialsInfo {
    display: flex;
    justify-content: space-around;
    padding: 4vw;

    a {
      text-decoration: none;

      h2 {
        font-size: calc(24px + 3vw);
        margin: 1vw 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px $textColor1;
        transition: all 0.5s ease-out;

        &#instagram:hover {
          -webkit-text-stroke: 2px #e1306c;
          transform: scale(1.02);
          text-shadow: 3px -3px 2px #e1306c;
          // text-shadow: 1px -1px 2px #bc1888, 2px -2px 2px #cc2366, 3px -3px 2px #dc2743, 4px -4px 2px #e6683c, 5px -5px 2px #f09433;
        }

        &#github:hover {
          -webkit-text-stroke: 2px #e3e3e3;
          transform: scale(1.02);
          text-shadow: 3px -3px 2px #e3e3e3;
        }

        &#linkedin:hover {
          -webkit-text-stroke: 2px #2867b2;
          transform: scale(1.02);
          text-shadow: 3px -3px 2px #2867b2;
        }
      }
    }
  }

  .accomplishmentsGrid {
    padding: 10vw 4vw 16vw 4vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .awards {
      transform: translateY(10%);
    }

    .awards:nth-child(odd) {
      margin: 8em 0 10em 0;
    }

    .desc {
      font-family: $fontTitle;
      margin: 2vw 0 1.5vw 0;
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: $textColor1;
    }

    .title_achievement {
      margin: 0;
      font-size: calc(16px + 0.35vw);
      line-height: 1.7em;
      font-family: $fontText;
      letter-spacing: 1px;
      font-weight: 400;
      color: $textColor1;
      overflow: hidden;

      div {
        transform: translateY(100%);
      }
    }

    h3 {
      font-family: $fontTitle;
      font-weight: 500;
      font-size: calc(16px + 0.25vw);
    }

    .image1 {
      background-image: url("/Assets/Images/swimming.jpg");
      background-size: cover;
      background-position: 40% 100%;
      height: 68vh;
      width: 26vw;
    }
  }

  .contactSection {
    position: relative;
    background-color: #1b1b1b;
    // margin-top: 10vw;
    padding: 8vw 0 4vw 16vw;

    .lineContact {
      overflow: hidden;

      div {
        transform: translateY(100%);
      }
    }

    h3.subtitles {
      margin: 0;
      font-family: $fontTitle;
      color: $textColor1;
      font-weight: 500;
      letter-spacing: 1px;
      // @include textShadow(-1px, 11px, 10px, $textShadowColorSoft);
      // text-transform: uppercase;
      line-height: 1.4em;
      font-size: 2em;
      width: fit-content;
      transition: all 1s ease-in-out;
      mix-blend-mode: difference;
    }

    .contactInfo {
      margin-top: 6vw;

      .contactGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2vw;

        h3 {
          font-weight: 500;
          font-size: calc(16px + 0.1vw);
        }

        h6 .lineContact div {
          font-weight: 400;
          font-family: $fontText;
          letter-spacing: 1.5px;
          color: $textColor1;
          opacity: 0.3;
          font-size: calc(16px + 0.05vw);
        }
        #contact {
          font-family: $fontTitle;
        }

        .socials {
          .socialsFlexbox {
            display: flex;
            align-items: flex-start;

            a {
              font-family: $fontText;
              text-decoration: none;
              margin: 0 2vw 0 0;
              font-weight: 400;
              color: $textColor1;
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}

.dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.hideDark {
    display: none;
  }

  .closeWebsite {
    margin: 0;
    font-size: 4.6vw;
    font-weight: 600;
    letter-spacing: 10px;
    color: #fff;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
  }

  svg#contactMeSvg {
    position: absolute;
    z-index: 999;
    right: 10%;
    bottom: 10%;
    width: 180px;
    cursor: pointer;
    fill: $secondaryColor;
    animation: spin 8s linear infinite;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      animation-play-state: paused;
    }
  }
}
