@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $fontTitle;
  color: #121212;
  user-select: none;
  background-color: #121212;
  // background-image: linear-gradient(260deg, #cdd2e4, #cdd2e4, #ffe9b1);
  // animation: gradient 60s ease infinite;
  overflow-x: hidden;
  touch-action: pan-y;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.glass {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url("/Assets/me.JPG");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  h1 {
    margin: 0;
    position: absolute;
    color: rgba(46, 54, 68, 0.05);
    font-size: 8vw;
    transform: rotate(45deg) translate(50%, -200%);
  }

  .behindBackground {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 100%;
    width: 100vw;
  }
}

.dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.hideDark {
    display: none;
  }

  .closeWebsite {
    margin: 0;
    font-size: 4.6vw;
    font-weight: 600;
    letter-spacing: 10px;
    color: #fff;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
  }

  svg#contactMeSvg {
    position: absolute;
    z-index: 999;
    right: 10%;
    bottom: 10%;
    width: 180px;
    cursor: pointer;
    fill: $secondaryColor;
    animation: spin 8s linear infinite;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      animation-play-state: paused;
    }
  }
}

.loading {
  height: 100vh;
  width: 100%;
  // overflow: hidden;
  position: relative;
  transition: all 1s ease;

  // .notification {
  //   position: absolute;
  //   z-index: 500;
  //   top: 10%;
  //   right: 2%;
  //   width: 10em;
  //   height: 2em;
  //   border-radius: 8px;
  //   background-color: #000;
  //   color: #fff;
  //   text-align: center;
  //   line-height: 2em;
  //   font-size: 0.7vw;
  // }

  .middleText {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 6vw;
    letter-spacing: 10px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    /* animation: blinking 1s linear infinite; */
  }

  .heyText {
    font-size: 22vw;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: moveHey 1.5s ease-in-out infinite;
  }

  .commonText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    letter-spacing: 10px;
    font-weight: 500;
    cursor: pointer;
  }

  .outsideSpaceTxt {
    padding: 7.4vw 0 0 16vw;

    .introText {
      letter-spacing: 0.15vw;
      color: $textColor1;
      mix-blend-mode: difference;
      width: fit-content;
      cursor: none;

      #fall {
        display: inline-block;
        transform-origin: top center;
        // animation: fragile 3s linear infinite;
      }

      span.strokeWord {
        color: transparent;
        @include textStrokeCategories(2.5px, $textColor1);
        @include textShadow(0, 0, 0, transparent);
      }

      // #emoji {
      //   font-size: calc(24px + 2.4vw);
      //   display: inline-block;
      //   vertical-align: middle;
      //   margin-bottom: 0.35em;
      // }

      h2#name,
      h2#name2 {
        font-size: calc(24px + 4.4vw);
        overflow: hidden;
        background: transparent;
        width: fit-content;
        // padding: 0 0 6vw 0;
        // text-transform: uppercase;
        font-weight: 600;
        margin: 0;

        #text_name,
        #text_name2 {
          width: fit-content;
          transform: translateY(100%);
        }

        // #text_name,
        // #text_name2 {
        //   transform: translateY(100%);
        //   text-shadow: -1px 11px 10px #4d4d4d;
        // }
      }
    }
  }

  #hide_arrow {
    // overflow: hidden;
    // background: transparent;
    position: absolute;
    right: 6.25vw;
    bottom: 0;
    font-size: 2vw;
    @include textShadow(-1px, 3px, 3px, $textShadowColorSoft);

    #arrowDown {
      color: $textColor1;
      transform: translateY(-100%);
    }
  }

  .circle_wrap {
    padding: 10.6vw 0 0 16vw;
    width: 100%;
    height: auto;
    display: flex;

    .circ {
      position: relative;
      width: 24vw;
      height: 24vw;
      transition: all 0.4s ease-in-out;

      svg {
        fill: none;
      }

      .path {
        stroke-width: 2px;
        stroke: rgba(255, 255, 255, 1);
        stroke-dasharray: 1060;
        stroke-dashoffset: 1028;
        // stroke-dashoffset: 0;
        opacity: 0;
        transition: all 1s ease-in-out;
      }

      &:hover #description {
        transform: translateY(0%);
        opacity: 1;
      }

      &:hover .img_card {
        transform: translateY(50%);
        opacity: 1;
      }

      .center_text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        font-family: $fontText;
        font-size: 1vw;
        line-height: 1.5vw;
        letter-spacing: 0.25vw;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: left;
        transition: all 0.4s ease-in-out;

        &:hover {
          @include textShadow(-1px, 4px, 4px, $textShadowColorSoft);
        }

        .hide_categories {
          overflow: hidden;
          background: transparent;
          font-weight: 600;

          .text_category {
            transform: translateY(100%);
            color: $textColor1;
          }
        }
      }

      .date {
        position: absolute;
        left: 75%;
        top: 0%;
        white-space: nowrap;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .dayWrapper {
          margin: 0;
          overflow: hidden;
          background-color: transparent;

          .day {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px $textColor1;
            font-weight: 800;
            background-size: 0 100%;
            font-size: 5vw;
            letter-spacing: 0.25vw;
            height: fit-content;
            width: fit-content;
            transform: translateY(100%);
          }
        }

        #info {
          padding-left: 1vw;

          #info_date_wrapper1,
          #info_date_wrapper2 {
            margin: 0;
            overflow: hidden;
            background-color: transparent;
            width: fit-content;

            .info_date {
              text-align: left;
              letter-spacing: 0.25vw;
              color: $textColor1;
              font-size: 1.2vw;
              @include textShadow(-1px, 4px, 4px, $textShadowColorSoft);
              transform: translateX(110%);

              &#month {
                font-weight: 800;
              }

              &#status {
                font-family: $fontText;
                font-weight: 500;
                padding: 0.35vw 0 0 0;
              }
            }
          }
        }
      }
    }

    #description {
      font-family: $fontText;
      align-self: center;
      margin-left: 10vw;
      text-align: left;
      position: relative;
      opacity: 1;
      transform: translateY(30%);
      color: $textColor1;
      transition: all 1s ease-in-out;

      .contact {
        overflow: hidden;
        background-color: transparent;
        width: fit-content;
        position: absolute;
        z-index: 99;
        top: 43%;
        left: -4vw;
        cursor: pointer;

        .contactText {
          font-size: 1.4vw;
          color: $textColor1;
          text-decoration: none;
          font-weight: 800;
          text-transform: uppercase;
          transform: translateY(100%);

          &:hover {
            @include textShadow(-2px, 3px, 3px, $textShadowColorSoft);
            color: $secondaryColor;
          }
        }
      }

      h6.descHeader {
        margin: 0;
        overflow: hidden;
        background-color: transparent;
        width: fit-content;

        .descLine {
          transform: translateY(100%);
        }
      }

      div {
        font-size: 1.05vw;
        letter-spacing: 0.1vw;
        line-height: 2.05vw;
        font-weight: 500;
      }

      #go_right {
        padding-left: 4.2vw;
      }
    }
  }
}

.whatIdo {
  height: auto;
  position: relative;
  padding: 0;

  .categories {
    position: relative;

    h2.mainTitles {
      margin: 25vw 0 0 14vw;
      font-family: $fontTitle;
      color: $textColor1;
      font-size: calc(16px + 4.4vw);
      width: fit-content;
      transition: all 1s ease-in-out;
      height: fit-content;
      text-transform: uppercase;
      font-weight: 300;
      mix-blend-mode: difference;
      overflow: hidden;
      background-color: transparent;

      div.what {
        transform: translateY(100%);
      }

      .stroke {
        color: transparent;
        @include textShadow(-20px, 20px, 10px, rgba(238, 164, 127, 0.6));
        text-shadow: inset 2px 16px #eea47fff;
        @include textStrokeCategories(2.5px, $textColor1);
      }
    }

    .slider {
      margin: 10vw 0 0 0;

      .slide-track {
        animation: categoriesCarousel 14s linear infinite;
        display: flex;
        width: calc(36.3vw * 12);

        &.paused1 {
          animation-play-state: paused;
        }

        .slide {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 36.3vw;
          padding: 0;
          position: relative;
          overflow: hidden;
          background-color: transparent;

          h3 {
            padding: 1.25vw 0;
            font-family: $fontText;
            display: block;
            font-size: calc(20px + 0.01vw);
            text-align: center;
            transform: translateY(100%);

            a {
              height: fit-content;
              width: fit-content;
              text-decoration: none;
              font-size: calc(24px + 2vw);
              letter-spacing: -0.005em;
              font-weight: 400;
              transition: all 0.5s ease-out;
              color: transparent;
              @include textShadow(-1px, 11px, 10px, $textShadowColor);
            }
          }

          &:hover .fe a,
          &:hover .be a,
          &:hover .uiux a,
          &:hover .tt a,
          &:hover .mdev a,
          &:hover .st a {
            color: $textColor1;
            @include textShadowCategories(
              10px,
              -6px,
              6px,
              $textShadowColorSoft
            );
            transform: scale(1.005);
            font-weight: 400;
          }

          .group_skills_fe,
          .group_skills_be,
          .group_skills_uiux,
          .group_skills_tt,
          .group_skills_mdev,
          .group_skills_st {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}

.skills {
  // margin: 14vw 0 14vw 0;
  height: auto;

  h2.mainTitles {
    margin: 18vw 0 0 14vw;
    font-family: $fontTitle;
    color: $textColor1;
    font-weight: 300;
    // @include textShadow(-1px, 11px, 10px, $textShadowColor);
    text-transform: uppercase;
    font-size: calc(16px + 4.4vw);
    width: fit-content;
    transition: all 1s ease-in-out;
    mix-blend-mode: difference;
    overflow: hidden;
    background-color: transparent;

    .exp {
      transform: translateY(100%);
    }
  }

  .carouselLine {
    border: 0.75px solid $textColor1;
  }

  hr {
    margin: 2vw 0;
    background-color: $textColor1;
  }

  .slider2 {
    padding: 10vw 0 1.5vw 0;

    .slide-track2 {
      animation: carrousel 30s linear infinite;
      display: flex;
      width: calc(30vw * 18);

      &.paused2 {
        animation-play-state: paused;
      }

      .slide2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
        width: 30vw;

        &:hover h3 {
          color: $textColor1;
        }

        h3.slideTitle {
          margin: 0;
          width: 100%;
          height: 100%;
          font-family: $fontText;
          display: block;
          color: transparent;
          @include textShadow(-1px, 11px, 10px, $textShadowColor);
          font-size: calc(20px + 2vw);
          text-align: center;
          font-weight: 400;
          transition: all 0.3s ease-in-out;
          overflow: hidden;
          background-color: transparent;
          cursor: pointer;

          .up {
            transform: translateY(100%);
          }

          &:hover {
            color: $textColor1;
            @include textShadowCategories(
              10px,
              -6px,
              6px,
              $textShadowColorSoft
            );
            transform: scale(1.005);
            font-weight: 400;
          }
        }
      }
    }
  }

  #line {
    margin: 0;
    stroke: $textColor1;
    stroke-width: 2px;
  }

  .slider3 {
    padding: 1.5vw 0 4vw 0;

    .reverse {
      animation: carrouselReverse 30s linear infinite;
      animation-direction: reverse;
      display: flex;
      width: calc(30vw * 16);

      &.paused3 {
        animation-play-state: paused;
      }

      .slide3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
        width: 30vw;

        &:hover h3 {
          color: $textColor1;
        }

        h3.slideTitle2 {
          margin: 0;
          width: 100%;
          height: 100%;
          font-family: $fontText;
          display: block;
          font-size: calc(20px + 2vw);
          text-align: center;
          font-weight: 400;
          letter-spacing: -0.005em;
          color: transparent;
          @include textShadow(-1px, 11px, 10px, $textShadowColor);
          transition: all 0.3s ease-in-out;
          overflow: hidden;
          background-color: transparent;
          cursor: pointer;

          .up2 {
            transform: translateY(100%);
          }

          &:hover {
            color: $textColor1;
            @include textShadowCategories(
              10px,
              -6px,
              6px,
              $textShadowColorSoft
            );
            transform: scale(1.005);
            font-weight: 400;
          }
        }
      }
    }
  }
}

.talkToMe {
  position: relative;
  height: auto;
  padding-bottom: 10vw;

  h2#longText {
    width: fit-content;
    padding: 8.6vw 0 0 14vw;
    font-family: $fontTitle;
    font-weight: 700;
    color: $textColor1;
    text-transform: uppercase;
    line-height: 1.14;
    font-size: 4.5vw;
    letter-spacing: 0.2vw;
    transition: all 1s ease-in-out;
    mix-blend-mode: difference;
    cursor: none;

    span.strokeWord {
      color: transparent;
      @include textStrokeCategories(2.5px, $textColor1);
    }

    #talk_btn {
      width: fit-content;
      text-decoration: none;
      color: $textColor1;
      position: relative;
      mix-blend-mode: difference;
      cursor: none;

      &::after {
        content: "";
        position: absolute;
        bottom: -6%;
        left: 50%;
        background: $textColor1;
        width: 0%;
        height: 10px;
        border-radius: 1px;
        transition: all 0.6s ease-in-out 0.1s;
      }

      &:hover::after {
        width: 50%;
      }
    }
  }

  #rotatingContact {
    width: 200px;
    color: $textColor1;
    position: absolute;
    right: 6.25vw;
    bottom: 10%;
    // font-size: 1.2vw;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: $fontText;
    mix-blend-mode: difference;
    cursor: pointer;
    fill: $textColor1;
    animation: spin 16s linear infinite;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      animation-play-state: paused;
    }
  }
}

footer {
  background: transparent;
  width: 100vw;
  height: 100%;
  margin: 0;
  box-shadow: 0 1px 6px $textColor1;
  font-family: $fontText;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
      text-decoration: none;
      cursor: pointer;

      i {
        color: $textColor1;
        padding: 0 2vw 0 2vw;
        font-size: 1.5vw;
        transition: all 0.2s ease-in-out;

        // &.fa-instagram:hover:before {
        //     background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        //     background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        // }

        // &.fa-facebook:hover:before {
        //     color: #4267B2;
        // }

        // &.fa-linkedin-in:hover:before {
        //     color: #2867B2;
        // }

        // &.fa-github:hover:before {
        //     color: #24292e;
        // }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .footer-copyright {
      padding: 50px 0 30px 0;

      p {
        font-size: 18px;
        color: $textColor1;
        letter-spacing: 1px;
        font-weight: 600;
        mix-blend-mode: difference;

        span {
          color: $textColor1;
        }
      }
    }
  }
}

@keyframes roundandround {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes spin2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes blinking {
  0%,
  9%,
  20%,
  29%,
  40%,
  49% {
    opacity: 0;
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes fragile {
  0%,
  9%,
  20%,
  29%,
  40%,
  50% {
    transform: translateX(10%) rotate(4deg);
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    transform: translateX(25%) rotate(0deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes categoriesCarousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-36.3vw * 6));
  }
}

@keyframes carrousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-30vw * 9));
  }
}

@keyframes carrouselReverse {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-30vw * 8));
  }
}
