@import "variables.scss";

.header {
  position: fixed;
  left: 0%;
  z-index: 4;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #logo {
    padding: 2vw 0 0 2.2vw;
    font-size: 1.8em;
    font-weight: 200;
    // margin-bottom: auto;
  }

  a {
    font-size: 1.275em;
    width: fit-content;
    display: inline-block;
    padding: 2vw 0;
    margin-right: 2rem;
    color: $textColor1;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    @include textShadow(-1px, 3px, 3px, $textShadowColorSoft);
    transition: 0.8s cubic-bezier(0.07, 0.95, 0, 1);

    &:hover {
      transform: translateY(10px);
    }

    &:not(.selected) {
      @include textShadow(-1px, 1px, 1px, $textShadowColorSoft);
      opacity: 0.2;
      color: $textColor1;

      &:hover {
        opacity: 1;
        @include textShadow(-1px, 3px, 3px, $textShadowColorSoft);
      }
    }
  }

  nav {
    width: 2vw;
    white-space: nowrap;
    transform: rotate(-90deg) translateY(50%);
    transform-origin: left center;
  }
}

.buttonHeader {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  mix-blend-mode: difference;

  button#heartBtn,
  button#powerBtn {
    cursor: pointer;
    margin: 0 2em;
    width: 1.2em;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 5;

    &:focus {
      outline: none;
    }

    .heart,
    .power {
      fill: $textColor1;
      transform: scale(2);
      transform-origin: left;
    }

    .heartChange {
      fill: #fdd6f5;
      transform: scale(2);
      transform-origin: left;
    }

    .powerChange {
      fill: #ffe9b1;
      transform: scale(2);
      transform-origin: left;
    }
  }
}
