@mixin textShadow($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color;
}

@mixin textShadowCategories($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color;
}

@mixin textStrokeCategories($stroke, $color) {
  -webkit-text-stroke: $stroke $color;
}

@mixin boxShadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

@mixin stopAnimation() {
  animation: none;
}

$textColor1: #ffffff;
$secondaryColor: #b2a3fc;
$greyText: #585858;
$textShadowColor: #747171;
$textShadowColorSoft: #444;
$darkColor: #121212;
$fontTitle: "Montserrat";
$fontText: "Raleway";
$feColor: #4a8aaf;
$beColor: #c47555;
$uiUxColor: #b44e81;
$teachingColor: #aca359;
$mobileDevColor: #4e9c6b;
$storyColor: #c54f4e;
