@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@mixin textShadow($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color;
}

@mixin textShadowCategories($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color;
}

@mixin textStrokeCategories($stroke, $color) {
  -webkit-text-stroke: $stroke $color;
}

@mixin boxShadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

@mixin stopAnimation() {
  animation: none;
}

$textColor1: #ffffff;
$secondaryColor: #b2a3fc;
$greyText: #585858;
$textShadowColor: #747171;
$textShadowColorSoft: #444;
$darkColor: #121212;
$fontTitle: "Montserrat";
$fontText: "Raleway";
$feColor: #4a8aaf;
$beColor: #c47555;
$uiUxColor: #b44e81;
$teachingColor: #aca359;
$mobileDevColor: #4e9c6b;
$storyColor: #c54f4e;
