<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuno 🦉</title>
    <link rel="icon" type="image/svg" href="../Assets/Icons/Logo.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/aboutMe.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/showcase.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/smallscreens.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/mousecursor.css">
  </head>

  <body>
    <audio autoplay id="myaudio">
      <source src="/Assets/Audios/Lewis Capaldi - Someone You Loved.mp3">
    </audio>
    <div class="cursor">
      <h4 class="textCursor"></h4>
    </div>
    <div id="mobile" class="d-xl-none">
      <div id="mobile-text">
        <h3>
          <div class="line">
            <div>To Smal<span>!</span></div>
          </div>
        </h3>
        <h5 id="mobile_subtitle">
          <div class="line">
            <div>You gotta dream</div>
          </div>
          <div class="line">
            <div>bigger</div>
          </div>
        </h5>
        <h5 id="mobile_p">
          <div class="line">
            <div>Go get yourself a bigger</div>
          </div>
          <div class="line">
            <div>dream. What's the funny part</div>
          </div>
          <div class="line">
            <div>about having a dream that</div>
          </div>
          <div class="line">
            <div>doesn't fit your(-self) screen?</div>
          </div>
        </h5>
      </div>
      <div id="icon_wrap">
        <div id="icon">
          <div id="icon_btns">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div id="icon_arrow1" class="mobile_arrow"></div>
          <div id="icon_arrow2" class="mobile_arrow"></div>
        </div>
      </div>
    </div>
    <div class="header">
      <a id="logo" class="selected" href="/Views/index.html">
        <div class="line">
          <div>Leave a Legacy</div>
        </div>
      </a>
      <nav>
        <a class="link" href="/Views/aboutMe.html">
          <div class="line">
            <div>
              About
            </div>
          </div>
        </a>
        <a class="link" href="/Views/showcase.html">
          <div class="line">
            <div>Showcase</div>
          </div>
        </a>
        <a class="link selected" href="/Views/index.html">
          <div class="line">
            <div>Home</div>
          </div>
        </a>
      </nav>
    </div>
    <div class="buttonHeader">
      <div class="soundInfo">
        <p class="soundStatus">asdasdasd</p>
      </div>
      <button class="svgsBtns" id="soundBtn">
        <svg class="sound" viewBox="0 -47 354.98667 354"  xmlns="http://www.w3.org/2000/svg">
          <path class="soundPath" d="m6.828125 102.894531c-3.773437 0-6.828125 3.054688-6.828125 6.824219v34.132812c0 3.773438 3.054688 6.828126 6.828125 6.828126 3.769531 0 6.824219-3.054688 6.824219-6.828126v-34.132812c0-3.769531-3.054688-6.824219-6.824219-6.824219zm0 0"/>
          <path class="soundPath" d="m40.984375 74.941406c-3.769531 0-6.828125 3.058594-6.828125 6.828125v94.515625c0 3.773438 3.058594 6.828125 6.828125 6.828125s6.828125-3.054687 6.828125-6.828125v-94.515625c0-3.769531-3.058594-6.828125-6.828125-6.828125zm0 0"/>
          <path class="soundPath" d="m75.09375 27.800781c-3.769531 0-6.828125 3.054688-6.828125 6.824219v191.148438c0 3.769531 3.058594 6.828124 6.828125 6.828124s6.828125-3.058593 6.828125-6.828124v-191.148438c0-3.769531-3.058594-6.824219-6.828125-6.824219zm0 0"/>
          <path class="soundPath" d="m109.226562 61.933594c-3.769531 0-6.828124 3.054687-6.828124 6.828125v116.050781c0 3.769531 3.058593 6.828125 6.828124 6.828125 3.769532 0 6.828126-3.058594 6.828126-6.828125v-116.050781c0-3.773438-3.058594-6.828125-6.828126-6.828125zm0 0"/>
          <path class="soundPath" d="m212.292969 45.40625c-3.769531 0-6.824219 3.054688-6.824219 6.828125v153.589844c0 3.769531 3.054688 6.824219 6.824219 6.824219s6.828125-3.054688 6.828125-6.824219v-153.589844c0-3.773437-3.058594-6.828125-6.828125-6.828125zm0 0"/>
          <path class="soundPath" d="m279.894531 55.105469c-3.769531 0-6.828125 3.058593-6.828125 6.828125v136.53125c0 3.773437 3.058594 6.828125 6.828125 6.828125s6.824219-3.054688 6.824219-6.828125v-136.53125c0-3.769532-3.054688-6.828125-6.824219-6.828125zm0 0"/>
          <path class="soundPath" d="m314.027344 89.238281c-3.769532 0-6.828125 3.058594-6.828125 6.828125v68.265625c0 3.769531 3.058593 6.828125 6.828125 6.828125 3.769531 0 6.824218-3.058594 6.824218-6.828125v-68.265625c0-3.769531-3.054687-6.828125-6.824218-6.828125zm0 0"/>
          <path class="soundPath" d="m245.761719.492188c-3.773438 0-6.828125 3.058593-6.828125 6.828124v245.757813c0 3.773437 3.054687 6.828125 6.828125 6.828125 3.769531 0 6.824219-3.054688 6.824219-6.828125v-245.757813c0-3.769531-3.054688-6.828124-6.824219-6.828124zm0 0"/>
          <path class="soundPath" d="m143.359375 109.71875c-3.769531 0-6.824219 3.058594-6.824219 6.828125v27.304687c0 3.773438 3.054688 6.828126 6.824219 6.828126s6.828125-3.054688 6.828125-6.828126v-27.304687c0-3.769531-3.058594-6.828125-6.828125-6.828125zm0 0"/>
          <path class="soundPath" d="m348.160156 107.433594c-3.769531 0-6.828125 3.054687-6.828125 6.824218v29.539063c0 3.769531 3.058594 6.828125 6.828125 6.828125 3.769532 0 6.828125-3.058594 6.828125-6.828125v-29.539063c0-3.769531-3.058593-6.824218-6.828125-6.824218zm0 0"/>
          <path class="soundPath" d="m176.851562 94.417969c-3.773437 0-6.828124 3.054687-6.828124 6.824219v55.570312c0 3.769531 3.054687 6.828125 6.828124 6.828125 3.769532 0 6.824219-3.058594 6.824219-6.828125v-55.570312c0-3.769532-3.054687-6.824219-6.824219-6.824219zm0 0"/></svg>
      </button>
      <button class="svgsBtns" id="powerBtn">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <svg
                  class="power" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 198.715 198.715" style="enable-background:new 0 0 198.715 198.715;" xml:space="preserve">
        <g>
          <path d="M161.463,48.763c-2.929-2.929-7.677-2.929-10.607,0c-2.929,2.929-2.929,7.677,0,10.606
            c13.763,13.763,21.342,32.062,21.342,51.526c0,19.463-7.579,37.761-21.342,51.523c-14.203,14.204-32.857,21.305-51.516,21.303
            c-18.659-0.001-37.322-7.104-51.527-21.309c-28.405-28.405-28.402-74.625,0.005-103.032c2.929-2.929,2.929-7.678,0-10.606
            c-2.929-2.929-7.677-2.929-10.607,0C2.956,83.029,2.953,138.766,37.206,173.019c17.132,17.132,39.632,25.697,62.135,25.696
            c22.497-0.001,44.997-8.564,62.123-25.69c16.595-16.594,25.734-38.659,25.734-62.129C187.199,87.425,178.059,65.359,161.463,48.763
            z"/>
          <path d="M99.332,97.164c4.143,0,7.5-3.358,7.5-7.5V7.5c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v82.164
            C91.832,93.807,95.189,97.164,99.332,97.164z"/>
        </g>
        </svg>
      </button>
    </div>
    <div class="landingPage">
      <div class="loading">
        <!-- <h1 class="middleText">Click</h1> -->
        <div class="notification"></div>
        <div class="outsideSpaceTxt">
          <div class="introText">
            <h2 id="name" class="mainTitles">
              <div id="text_name">Hello.</span></div>
            </h2>
            <h2 id="name2" class="mainTitles">
              <div id="text_name2">
                I
                <div id="fall">'</div>
                m <span class="strokeWord">Nuno</span>
              </div>
            </h2>
          </div>
        </div>
        <h5 id="hide_arrow">
          <div id="arrowDown">↓</div>
        </h5>
        <div class="circle_wrap">
          <div class="circ">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 473 473">
              <path class="path"
                d="M914.5,384c0,127.85-103.65,231.5-231.5,231.5S451.5,511.85,451.5,384,555.15,152.5,683,152.5"
                transform="translate(-446.5 -147.5)" />
            </svg>
            <div class="center_text">
              <div class="text_category">
                <div>Hustler</div>
              </div>
              <div class="text_category">
                <div>Developer</div>
              </div>
              <div class="text_category">
                <div>Teacher & Tutor</div>
              </div>
              <div class="text_category">
                <div>UI UX Designer</div>
              </div>
            </div>
            <div class="date">
              <h2 class="dayWrapper">
                <div class="day"></div>
              </h2>
              <div id="info">
                <h2 id="info_date_wrapper1">
                  <div class="info_date" id="month"></div>
                </h2>
                <h2 id="info_date_wrapper2">
                  <div class="info_date" id="status">Available</div>
                </h2>
              </div>
            </div>
            <!-- <div class="img_card">
                <div class="img_container"></div>
              </div> -->
            <!-- <h1 id="contactMe" contenteditable data-heading="Contact">Contact</h1> -->
          </div>
          <div id="description">
            <h5 class="contact"><div class="contactText">Contact</div></h5>
            <div class="descLine">
              <div>I'm a senior student from Portugal taking a</div>
            </div>
            <div class="descLine">
              <div>web development degree at college - esmad.</div>
            </div>
            <div class="descLine">
              <div>I'm currently the student with the</div>
            </div>
            <div class="descLine" id="go_right">
              <div>highest GPA looking towards great projects</div>
            </div>
            <div class="descLine">
              <div>to be part of, or helping people</div>
            </div>
            <div class="descLine">
              <div>achieving their dreams. Stay kind.</div>
            </div>    
          </div>
        </div>
      </div>
      <div class="whatIdo">
        <div class="categories">
          <h2 class="mainTitles">
            <div class="what">A few -</div>
          </h2>
          <h2 class="mainTitles">
            <div class="what"> <span id="rotate">things</span> <span class="strokeWord"><span class="iDo">I Do</span> ...</span></div>          </h2>
          <div class="slider">
            <div class="slide-track paused1">
              <div class="slide group_skills_fe">
                <h3 class="fe"><a href="">Front-end</a></h3>
              </div>
              <div class="slide group_skills_be">
                <h3 class="be"><a href="">Back-end</a></h3>
              </div>
              <div class="slide group_skills_uiux">
                <h3 class="uiux"><a href="">UI & UX Design</a></h3>
              </div>
              <div class="slide group_skills_tt">
                <h3 class="tt"><a href="">Teaching & Tutoring</a></h3>
              </div>
              <div class="slide group_skills_mdev">
                <h3 class="mdev"><a href="">Mobile Dev</a></h3>
              </div>
              <div class="slide group_skills_st">
                <h3 class="st"><a href="">Help & Support</a></h3>
              </div>
              <div class="slide group_skills_fe">
                <h3 class="fe"><a href="">Front-end</a></h3>
              </div>
              <div class="slide group_skills_be">
                <h3 class="be"><a href="">Back-end</a></h3>
              </div>
              <div class="slide group_skills_uiux">
                <h3 class="uiux"><a href="">UI & UX Design</a></h3>
              </div>
              <div class="slide group_skills_tt">
                <h3 class="tt"><a href="">Teaching & Tutoring</a></h3>
              </div>
              <div class="slide group_skills_mdev">
                <h3 class="mdev"><a href="">Mobile Dev</a></h3>
              </div>
              <div class="slide group_skills_st">
                <h3 class="st"><a href="">Help & Support</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills">
        <h2 class="mainTitles">
          <div class="exp">Exper-</div>
        </h2>
        <h2 class="mainTitles">
          <div class="exp"><span class="stroke">ience</span> <span class="strokeText">In</span> ...</div>
        </h2>
        <div class="slider2">
          <div class="slide-track2 paused2">
            <div class="slide2 js">
              <h3 class="slideTitle">
                <div class="up">JavaScript</div>
              </h3>
            </div>
            <div class="slide2 html">
              <h3 class="slideTitle">
                <div class="up">HTML5</div>
              </h3>
            </div>
            <div class="slide2 css">
              <h3 class="slideTitle">
                <div class="up">CSS3</div>
              </h3>
            </div>
            <div class="slide2 python">
              <h3 class="slideTitle">
                <div class="up">Python</div>
              </h3>
            </div>
            <div class="slide2 nodejs">
              <h3 class="slideTitle">
                <div class="up">Node.js</div>
              </h3>
            </div>
            <div class="slide2 vuejs">
              <h3 class="slideTitle">
                <div class="up">Vue.js</div>
              </h3>
            </div>
            <div class="slide2 java">
              <h3 class="slideTitle">
                <div class="up">Java</div>
              </h3>
            </div>
            <div class="slide2 adobexd">
              <h3 class="slideTitle">
                <div class="up">Adobe XD</div>
              </h3>
            </div>
            <div class="slide2 js">
              <h3 class="slideTitle">
                <div class="up">JavaScript</div>
              </h3>
            </div>
            <div class="slide2 html">
              <h3 class="slideTitle">
                <div class="up">HTML5</div>
              </h3>
            </div>
            <div class="slide2 css">
              <h3 class="slideTitle">
                <div class="up">CSS3</div>
              </h3>
            </div>
            <div class="slide2 python">
              <h3 class="slideTitle">
                <div class="up">Python</div>
              </h3>
            </div>
            <div class="slide2 nodejs">
              <h3 class="slideTitle">
                <div class="up">Node.js</div>
              </h3>
            </div>
            <div class="slide2 vuejs">
              <h3 class="slideTitle">
                <div class="up">Vue.js</div>
              </h3>
            </div>
            <div class="slide2 java">
              <h3 class="slideTitle">
                <div class="up">Java</div>
              </h3>
            </div>
            <div class="slide2 adobexd">
              <h3 class="slideTitle">
                <div class="up">Adobe XD</div>
              </h3>
            </div>
          </div>
          <!-- <div class="slide-track2">
                        <div class="slide2">
                            <div>
                                <img src="/Assets/Showcase/javascript.png" height="100" width="100" alt="" />
                                <h3>JavaScript</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/html.svg" height="100" width="100" alt="" />
                                <h3>HTML</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/css.svg" height="100" width="100" alt="" />
                                <h3>CSS</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/NodeJS.png" height="100" width="100" alt="" />
                                <h3>Node.js</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/vuejs.png" height="100" width="100" alt="" />
                                <h3>Vue.js</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/MySQL.svg" height="100" width="100" alt="" />
                                <h3>MySQL</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/python.png" height="100" width="100" alt="" />
                                <h3>Python</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/adobexd.png" height="100" width="100" alt="" />
                                <h3>Adobe XD</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/adobe-photoshop.svg" height="100" width="100" alt="" />
                                <h3>Adobe CC</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/adobe-illustrator.svg" height="100" width="100" alt="" />
                                <h3>Adobe Ai</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div>
                                <img src="/Assets/Showcase/javascript.png" height="100" width="100" alt="" />
                                <h3>JavaScript</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/html.svg" height="100" width="100" alt="" />
                                <h3>HTML</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/css.svg" height="100" width="100" alt="" />
                                <h3>CSS</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/NodeJS.png" height="100" width="100" alt="" />
                                <h3>Node.js</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/vuejs.png" height="100" width="100" alt="" />
                                <h3>Vue.js</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/MySQL.svg" height="100" width="100" alt="" />
                                <h3>MySQL</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/python.png" height="100" width="100" alt="" />
                                <h3>Python</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/adobexd.png" height="100" width="100" alt="" />
                                <h3>Adobe XD</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/adobe-photoshop.svg" height="100" width="100" alt="" />
                                <h3>Adobe CC</h3>
                            </div>
                        </div>
                        <div class="slide2">
                            <div><img src="/Assets/Showcase/adobe-illustrator.svg" height="100" width="100" alt="" />
                                <h3>Adobe Ai</h3>
                            </div>
                        </div>
                    </div> -->
        </div>
        <hr class="carouselLine">
        <div class="slider3">
          <div class="reverse paused3">
            <div class="slide3 treejs">
              <h3 class="slideTitle">
                <div class="up2">
                  Three.js
                </div>
              </h3>
            </div>
            <div class="slide3 scss">
              <h3 class="slideTitle2">
                <div class="up2">SCSS</div>
              </h3>
            </div>
            <div class="slide3 mysql">
              <h3 class="slideTitle2">
                <div class="up2">MySQL</div>
              </h3>
            </div>
            <div class="slide3 git">
              <h3 class="slideTitle2">
                <div class="up2">Git</div>
              </h3>
            </div>
            <div class="slide3 wordpress">
              <h3 class="slideTitle2">
                <div class="up2">Wordpress</div>
              </h3>
            </div>
            <div class="slide3 mongodb">
              <h3 class="slideTitle2">
                <div class="up2">MongoDB</div>
              </h3>
            </div>
            <div class="slide3 adobecc">
              <h3 class="slideTitle2">
                <div class="up2">Adobe CC</div>
              </h3>
            </div>
            <div class="slide3 adobeai">
              <h3 class="slideTitle2">
                <div class="up2">Adobe Ai</div>
              </h3>
            </div>
            <div class="slide3 treejs">
              <h3 class="slideTitle2">
                <div class="up2">
                  Three.js
                </div>
              </h3>
            </div>
            <div class="slide3 scss">
              <h3 class="slideTitle2">
                <div class="up2">SCSS</div>
              </h3>
            </div>
            <div class="slide3 mysql">
              <h3 class="slideTitle2">
                <div class="up2">MySQL</div>
              </h3>
            </div>
            <div class="slide3 git">
              <h3 class="slideTitle2">
                <div class="up2">Git</div>
              </h3>
            </div>
            <div class="slide3 wordpress">
              <h3 class="slideTitle2">
                <div class="up2">Wordpress</div>
              </h3>
            </div>
            <div class="slide3 mongodb">
              <h3 class="slideTitle2">
                <div class="up2">MongoDB</div>
              </h3>
            </div>
            <div class="slide3 adobecc">
              <h3 class="slideTitle2">
                <div class="up2">Adobe CC</div>
              </h3>
            </div>
            <div class="slide3 adobeai">
              <h3 class="slideTitle2">
                <div class="up2">Adobe Ai</div>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="talkToMe">
        <h2 class="longText">
          <div class="longTextDiv">I'm always</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv">interested</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv">about <span class="strokeWord">cool</span></div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv"><span class="strokeWord">stuff</span>.</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv">Are you</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv">down to</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv"><span class="strokeWord">impact</span> the</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv">world? 🪐</div>
        </h2>
        <h2 class="longText">
          <div class="longTextDiv"><a id="talk_btn">Let's <span class="strokeWord">talk.</span></a></div>
        </h2>
        <svg id="rotatingContact" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171.64 146.8">
          <defs>
            <style>
              .cls-1 {
                font-family: Montserrat-Bold, Montserrat;
                font-weight: 700;
              }
            </style>
          </defs><text class="cls-1" transform="matrix(0.76, -0.65, 0.65, 0.76, 46.04, 30.28)">C</text><text
            class="cls-1" transform="translate(53.99 23.48) rotate(-30.01)">o</text><text class="cls-1"
            transform="translate(62.17 18.62) rotate(-19.71)">n</text><text class="cls-1"
            transform="translate(71.81 15.26) rotate(-11.09)">t</text><text class="cls-1"
            transform="translate(77.87 13.92) rotate(-3.11)">a</text><text class="cls-1"
            transform="matrix(0.99, 0.11, -0.11, 0.99, 86.94, 13.38)">c</text><text class="cls-1"
            transform="translate(95.71 14.35) rotate(14)">t</text><text class="cls-1"
            transform="translate(101.94 15.94) rotate(19.51)"> </text><text class="cls-1"
            transform="translate(105.57 16.68) rotate(28.99)">M</text><text class="cls-1"
            transform="translate(117.86 23.66) rotate(41.03)">e</text><text class="cls-1"
            transform="translate(22.05 50.75) rotate(100.26)">C</text><text class="cls-1"
            transform="translate(19.95 63.03) rotate(90.01)">o</text><text class="cls-1"
            transform="translate(20.02 74.55) rotate(79.71)">n</text><text class="cls-1"
            transform="translate(22.36 86.23) rotate(71.07)">t</text><text class="cls-1"
            transform="translate(24.84 93.58) rotate(63.08)">a</text><text class="cls-1"
            transform="matrix(0.59, 0.81, -0.81, 0.59, 29.84, 103.23)">c</text><text class="cls-1"
            transform="translate(36.07 111.53) rotate(45.97)">t</text><text class="cls-1"
            transform="translate(41.34 116.86) rotate(40.46)"> </text><text class="cls-1"
            transform="translate(45.29 120.7) rotate(31.01)">M</text><text class="cls-1"
            transform="translate(59.61 128.84) rotate(18.97)">e</text><text class="cls-1"
            transform="translate(102.57 132.17) rotate(-19.74)">C</text><text class="cls-1"
            transform="translate(114.25 127.85) rotate(-29.99)">o</text><text class="cls-1"
            transform="translate(124.19 122.04) rotate(-40.29)">n</text><text class="cls-1"
            transform="translate(133.14 114.16) rotate(-48.93)">t</text><text class="cls-1"
            transform="translate(138.27 108.34) rotate(-56.92)">a</text><text class="cls-1"
            transform="translate(144.12 99.19) rotate(-66.07)">c</text><text class="cls-1"
            transform="matrix(0.28, -0.96, 0.96, 0.28, 148.19, 89.65)">t</text><text class="cls-1"
            transform="translate(150.17 82.41) rotate(-79.54)"> </text><text class="cls-1"
            transform="matrix(0.02, -1, 1, 0.02, 151.53, 77.07)">M</text><text class="cls-1"
            transform="translate(151.42 60.6) rotate(-101.03)">e</text>
        </svg>
        <!-- <button class="btn btn-default" id="arrowUp">
          ↑ Back to the top
        </button> -->
      </div>
      <div class="contactSection">
        <h3 class="subtitles">
          <div class="lineContact">
            <div>What do you think?</div>
          </div>
          <div class="lineContact">
            <div>Let's talk!</div>
          </div>
        </h3>
        <div class="contactInfo">
          <div class="contactGrid">
            <div class="phoneNumber">
              <h3>
                <div class="lineContact"><div>Let's chat!</div></div>
              </h3>
              <h6>
                <div class="lineContact">
                  <div id="contact"><a href="tel:+911 587 712">(+351) 911 587 712</a></div>
                </div>
              </h6>
            </div>
            <div class="email">
              <h3>
                <div class="lineContact"><div>Send me an email</div></div>
              </h3>
              <h6 id="email">
                <div class="lineContact">
                  <div id="emailTxt"><a href="mailto:nunopereirasousa00@gmail.com">nunopereirasousa00@gmail.com</a></div>
                </div>
              </h6>
            </div>
            <div class="location">
              <h3>
                <div class="lineContact">
                  <div>Located in</div>
                </div>
              </h3>
              <h6>
                <div class="lineContact"><div><a href="https://maps.google.com/?q=Porto" target="blank">oPorto, Portugal</a></div></div>
              </h6>
            </div>
            <div class="socials">
              <h3>
                <div class="lineContact">
                  <div>Socials</div>
                </div>
              </h3>
              <div class="socialsFlexbox">
                <a href="https://www.linkedin.com/in/nunopereirasous/" target="_blank"
                  ><div class="lineContact"><div>LIn</div></div></a
                >
                <a href="https://github.com/NunoPereiraSousa" target="_blank"
                  ><div class="lineContact"><div>GH</div></div></a
                >
                <a href="https://www.instagram.com/nunopereirasousa/" target="_blank"
                  ><div class="lineContact"><div>IG</div></div></a
                >
                <a href="" target="_blank"
                  ><div class="lineContact"><div>YT</div></div></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hideDark dark">
      <svg
        id="contactMeSvg"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 171.64 146.8"
      >
        <defs>
          <style>
            .cls-1 {
              font-family: Montserrat-Bold, Montserrat;
              font-weight: 700;
            }
          </style>
        </defs>
        <text
          class="cls-1"
          transform="matrix(0.76, -0.65, 0.65, 0.76, 46.04, 30.28)"
        >
          C
        </text>
        <text class="cls-1" transform="translate(53.99 23.48) rotate(-30.01)">
          o
        </text>
        <text class="cls-1" transform="translate(62.17 18.62) rotate(-19.71)">
          n
        </text>
        <text class="cls-1" transform="translate(71.81 15.26) rotate(-11.09)">
          t
        </text>
        <text class="cls-1" transform="translate(77.87 13.92) rotate(-3.11)">
          a
        </text>
        <text
          class="cls-1"
          transform="matrix(0.99, 0.11, -0.11, 0.99, 86.94, 13.38)"
        >
          c
        </text>
        <text class="cls-1" transform="translate(95.71 14.35) rotate(14)">
          t
        </text>
        <text
          class="cls-1"
          transform="translate(101.94 15.94) rotate(19.51)"
        ></text>
        <text class="cls-1" transform="translate(105.57 16.68) rotate(28.99)">
          M
        </text>
        <text class="cls-1" transform="translate(117.86 23.66) rotate(41.03)">
          e
        </text>
        <text class="cls-1" transform="translate(22.05 50.75) rotate(100.26)">
          C
        </text>
        <text class="cls-1" transform="translate(19.95 63.03) rotate(90.01)">
          o
        </text>
        <text class="cls-1" transform="translate(20.02 74.55) rotate(79.71)">
          n
        </text>
        <text class="cls-1" transform="translate(22.36 86.23) rotate(71.07)">
          t
        </text>
        <text class="cls-1" transform="translate(24.84 93.58) rotate(63.08)">
          a
        </text>
        <text
          class="cls-1"
          transform="matrix(0.59, 0.81, -0.81, 0.59, 29.84, 103.23)"
        >
          c
        </text>
        <text class="cls-1" transform="translate(36.07 111.53) rotate(45.97)">
          t
        </text>
        <text
          class="cls-1"
          transform="translate(41.34 116.86) rotate(40.46)"
        ></text>
        <text class="cls-1" transform="translate(45.29 120.7) rotate(31.01)">
          M
        </text>
        <text class="cls-1" transform="translate(59.61 128.84) rotate(18.97)">
          e
        </text>
        <text class="cls-1" transform="translate(102.57 132.17) rotate(-19.74)">
          C
        </text>
        <text class="cls-1" transform="translate(114.25 127.85) rotate(-29.99)">
          o
        </text>
        <text class="cls-1" transform="translate(124.19 122.04) rotate(-40.29)">
          n
        </text>
        <text class="cls-1" transform="translate(133.14 114.16) rotate(-48.93)">
          t
        </text>
        <text class="cls-1" transform="translate(138.27 108.34) rotate(-56.92)">
          a
        </text>
        <text class="cls-1" transform="translate(144.12 99.19) rotate(-66.07)">
          c
        </text>
        <text
          class="cls-1"
          transform="matrix(0.28, -0.96, 0.96, 0.28, 148.19, 89.65)"
        >
          t
        </text>
        <text
          class="cls-1"
          transform="translate(150.17 82.41) rotate(-79.54)"
        ></text>
        <text
          class="cls-1"
          transform="matrix(0.02, -1, 1, 0.02, 151.53, 77.07)"
        >
          M
        </text>
        <text class="cls-1" transform="translate(151.42 60.6) rotate(-101.03)">
          e
        </text>
      </svg>
      <h1 class="closeWebsite">Enjoy your day 🤟</h1>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r124/three.min.js"></script>
    
    <script src="/JS/words.js"></script>
    <script src="/JS/landingAnimations.js"></script>
    <script type="module" src="/JS/onOff.js"></script>
    <script type="module" src="/JS/smallscreens.js"></script>
    <script src="/JS/currentDate.js"></script>
    <script type="module" src="/JS/mousecursor.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </body>
</html>
