body {
  margin: 0;
  font-family: "Montserrat";
  color: #121212;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #d6d6d6;
  overflow-x: hidden;
}

.landingPage {
  display: none;
}

.glass {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass h1 {
  margin: 0;
  position: absolute;
  color: rgba(46, 54, 68, 0.05);
  font-size: 8vw;
  -webkit-transform: rotate(45deg) translate(50%, -200%);
          transform: rotate(45deg) translate(50%, -200%);
}

.glass .behindBackground {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: solid 2px transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  height: 100%;
  width: 100vw;
}

.dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.dark h1 {
  margin: 0;
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 10px;
  color: #fff;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.loading {
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .middleText {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 6vw;
  letter-spacing: 10px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  /* animation: blinking 1s linear infinite; */
}

.loading .heyText {
  font-size: 22vw;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-animation: moveHey 1.5s ease-in-out infinite;
          animation: moveHey 1.5s ease-in-out infinite;
}

.loading .commonText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6vw;
  letter-spacing: 10px;
  font-weight: 500;
  cursor: pointer;
}

.loading .introText {
  padding: 5.6vw 0 0 16vw;
  letter-spacing: 0.15vw;
  color: #2c2c2c;
  text-shadow: -1px 11px 10px #747171;
}

.loading .introText #fall {
  display: inline-block;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: fragile 3s linear infinite;
          animation: fragile 3s linear infinite;
}

.loading .introText span.strokeWord {
  color: transparent;
  -webkit-text-stroke: 2.5px #2c2c2c;
  text-shadow: 0 0 0 transparent;
}

.loading .introText h2#name,
.loading .introText h2#name2 {
  font-size: calc(24px + 4.4vw);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 800;
  margin: 0;
}

.loading #hide_arrow {
  position: absolute;
  right: 6.25vw;
  bottom: 0;
  font-size: 2vw;
  text-shadow: -1px 3px 3px #868686;
}

.loading #hide_arrow #arrowDown {
  color: #2c2c2c;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.loading .circle_wrap {
  padding: 12.6vw 0 0 16vw;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading .circle_wrap .circ {
  position: relative;
  width: 24vw;
  height: 24vw;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loading .circle_wrap .circ svg {
  fill: none;
}

.loading .circle_wrap .circ .path {
  stroke-width: 3px;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-dasharray: 1060;
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.loading .circle_wrap .circ:hover .path {
  stroke-dashoffset: 0;
  opacity: 1;
}

.loading .circle_wrap .circ:hover .center_text {
  opacity: 1;
}

.loading .circle_wrap .circ:hover #description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.loading .circle_wrap .circ:hover .img_card {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 1;
}

.loading .circle_wrap .circ .center_text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #2c2c2c;
  opacity: 0.3;
  font-size: 1.25vw;
  line-height: 1.5vw;
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loading .circle_wrap .circ .center_text:hover {
  text-shadow: -1px 4px 4px #747171;
}

.loading .circle_wrap .circ .center_text .hide_categories {
  font-weight: 600;
}

.loading .circle_wrap .circ .date {
  position: absolute;
  left: 75%;
  top: 5%;
  white-space: nowrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .circle_wrap .circ .date .day {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  font-weight: 800;
  background-size: 0 100%;
  font-size: 5vw;
  letter-spacing: 0.25vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loading .circle_wrap .circ .date #month {
  font-weight: 800;
  font-size: 1.2vw;
  text-shadow: -1px 4px 4px #868686;
}

.loading .circle_wrap .circ .date #status {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.2vw;
  padding: 0.35vw 0 0 0;
  text-shadow: -1px 4px 4px #868686;
}

.loading .circle_wrap .circ .date .info_date {
  text-align: left;
  letter-spacing: 0.25vw;
  color: #2c2c2c;
}

.loading .circle_wrap .circ .img_card {
  opacity: 0;
  position: absolute;
  right: -34vw;
  bottom: -25vw;
  height: 30vw;
  width: 20vw;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  border-radius: 4px;
  background-image: url("/Assets/Images/MeSunGlasses.jpeg");
  background-size: cover;
  background-position: 40% 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: -8px 8px 14px #999;
          box-shadow: -8px 8px 14px #999;
}

.loading .circle_wrap .circ .img_card .img_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
}

.loading .circle_wrap #description {
  font-family: "Raleway";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10vw;
  text-align: left;
  position: relative;
  opacity: 0.5;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  color: #2c2c2c;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.loading .circle_wrap #description h6 {
  margin: 0;
}

.loading .circle_wrap #description a {
  position: absolute;
  top: 50%;
  left: -4vw;
  font-size: 1.4vw;
  color: #2c2c2c;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.loading .circle_wrap #description a:hover {
  text-shadow: -2px 3px 3px #747171;
  color: #e89931;
}

.loading .circle_wrap #description div {
  font-size: 1.05vw;
  letter-spacing: 0.1vw;
  line-height: 2.05vw;
  font-weight: 500;
}

.loading .circle_wrap #description #go_right {
  padding-left: 4.2vw;
}

.whatIdo {
  height: auto;
  position: relative;
  padding: 0;
}

.whatIdo .categories {
  position: relative;
}

.whatIdo .categories h2.mainTitles {
  margin: 20vw 0 0 10vw;
  font-family: "Montserrat";
  color: #2c2c2c;
  font-size: calc(24px + 4.4vw);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: -1px 11px 10px #747171;
  mix-blend-mode: difference;
}

.whatIdo .categories h2.mainTitles .stroke {
  color: transparent;
  text-shadow: -20px 20px 10px rgba(238, 164, 127, 0.6);
  text-shadow: inset 2px 16px #eea47fff;
  -webkit-text-stroke: 2.5px #2c2c2c;
}

.whatIdo .categories .slider {
  margin: 6vw 0 14vw 0;
}

.whatIdo .categories .slider .slide-track {
  -webkit-animation: categoriesCarousel 14s linear infinite;
          animation: categoriesCarousel 14s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(43.3vw * 12);
}

.whatIdo .categories .slider .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
  width: 43.3vw;
  padding: 0;
  position: relative;
}

.whatIdo .categories .slider .slide-track .slide h3 {
  font-family: "Raleway";
  display: block;
  font-size: calc(20px + 0.01vw);
  text-align: center;
}

.whatIdo .categories .slider .slide-track .slide h3 a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: calc(24px + 2vw);
  letter-spacing: -0.005em;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_be,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .st_wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .st a {
  color: transparent;
  text-shadow: -1px 11px 10px #747171;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_fe .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_be .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_st .st {
  color: #2c2c2c;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .fe_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .fe_wrap {
  opacity: 0.8;
  background: #4a8aaf;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .fe,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .fe {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .be_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .be_wrap {
  opacity: 0.8;
  background: #808080;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .be,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .be {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .fe a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .fe a {
  color: #4a8aaf;
  text-shadow: 10px -6px 0 #2c2c2c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .be a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .be a {
  color: #808080;
  text-shadow: 10px -6px 0 #2c2c2c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .uiux a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .uiux a {
  color: #b44e81;
  text-shadow: 10px -6px 0 #2c2c2c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .tt a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .tt a {
  color: #beae4e;
  text-shadow: 10px -6px 0 #2c2c2c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .mdev a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .mdev a {
  color: #4e9c6b;
  text-shadow: 10px -6px 0 #2c2c2c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .st a,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .st a {
  color: #c54f4e;
  text-shadow: 10px -6px 0 #2c2c2c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .uiux_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .uiux_wrap {
  opacity: 0.8;
  background: #b44e81;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .uiux,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .uiux {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .tt_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .tt_wrap {
  opacity: 0.8;
  background: #beae4e;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .tt,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .tt {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .mdev_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .mdev_wrap {
  opacity: 0.8;
  background: #4e9c6b;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .mdev,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .mdev {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .st_wrap,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .st_wrap {
  opacity: 0.8;
  background: #c54f4e;
}

.whatIdo .categories .slider .slide-track .slide .group_skills_fe:hover .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_be:hover .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_uiux:hover .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_tt:hover .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_mdev:hover .st,
.whatIdo .categories .slider .slide-track .slide .group_skills_st:hover .st {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.skills {
  height: auto;
}

.skills h2.mainTitles {
  margin: 10vw 0 2vw 10vw;
  font-family: "Montserrat";
  color: #2c2c2c;
  font-weight: 300;
  text-shadow: -1px 11px 10px #747171;
  text-transform: uppercase;
  font-size: calc(24px + 4.4vw);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  mix-blend-mode: difference;
}

.skills svg {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 2px;
}

.skills hr {
  background-color: #2c2c2c;
}

.skills .slider2 {
  padding: 6vw 0 3vw 0;
}

.skills .slider2 .slide-track2 {
  -webkit-animation: carrousel 20s linear infinite;
          animation: carrousel 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(30vw * 18);
}

.skills .slider2 .slide-track2 .slide2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 30vw;
}

.skills .slider2 .slide-track2 .slide2:hover h3 {
  color: #2c2c2c;
}

.skills .slider2 .slide-track2 .slide2 h3 {
  font-family: "Raleway";
  padding: 2vw 0;
  display: block;
  color: transparent;
  text-shadow: -1px 11px 10px #747171;
  font-size: calc(20px + 3vw);
  text-align: center;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skills #line {
  stroke: #2c2c2c;
  stroke-width: 4px;
}

.skills .slider3 {
  padding: 3vw 0 4vw 0;
}

.skills .slider3 #reverse {
  -webkit-animation: carrouselReverse 20s linear infinite;
          animation: carrouselReverse 20s linear infinite;
  animation-direction: reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(30vw * 16);
}

.skills .slider3 #reverse .slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 30vw;
}

.skills .slider3 #reverse .slide3:hover h3 {
  color: #2c2c2c;
}

.skills .slider3 #reverse .slide3 h3 {
  font-family: "Raleway";
  padding: 2vw 0;
  display: block;
  font-size: calc(20px + 3vw);
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.005em;
  color: transparent;
  text-shadow: -1px 11px 10px #747171;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.talkToMe {
  position: relative;
  margin-bottom: 12vw;
}

.talkToMe h2#longText {
  padding: 5.6vw 0 0 10vw;
  font-family: "Montserrat";
  font-weight: 900;
  color: #2c2c2c;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 4.5vw;
  letter-spacing: 0.2vw;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  mix-blend-mode: difference;
}

.talkToMe h2#longText span.strokeWord {
  color: transparent;
  -webkit-text-stroke: 2.5px #2c2c2c;
}

.talkToMe h2#longText #talk #talk_btn {
  text-decoration: none;
  color: #2c2c2c;
  position: relative;
}

.talkToMe h2#longText #talk #talk_btn::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  background: #fcf7da;
  width: 0%;
  height: 16px;
  border-radius: 1px;
  -webkit-transition: all 0.6s ease-in-out 0.1s;
  transition: all 0.6s ease-in-out 0.1s;
}

.talkToMe h2#longText #talk #talk_btn:hover::after {
  width: 100%;
}

.talkToMe button#arrowUp {
  color: #2c2c2c;
  position: absolute;
  right: 6.25vw;
  bottom: -20%;
  font-size: 1.2vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: "Raleway";
  mix-blend-mode: difference;
}

.talkToMe button#arrowUp::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0%;
  background: #2c2c2c;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 20%;
          transform-origin: 20%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.talkToMe button#arrowUp:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer {
  background: transparent;
  width: 100vw;
  height: 100%;
  margin: 0;
  -webkit-box-shadow: 0 1px 6px #2c2c2c;
          box-shadow: 0 1px 6px #2c2c2c;
  font-family: "Raleway";
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .container a {
  text-decoration: none;
}

footer .container a i {
  color: #2c2c2c;
  padding: 0 2vw 0 2vw;
  font-size: 1.5vw;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .container a i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .container .footer-copyright {
  padding: 50px 0 30px 0;
}

footer .container .footer-copyright p {
  font-size: 18px;
  color: #2c2c2c;
  letter-spacing: 1px;
  font-weight: 600;
  mix-blend-mode: difference;
}

footer .container .footer-copyright p span {
  color: #2c2c2c;
}

@-webkit-keyframes blinking {
  0%,
  9%,
  20%,
  29%,
  40%,
  49% {
    opacity: 0;
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0%,
  9%,
  20%,
  29%,
  40%,
  49% {
    opacity: 0;
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fragile {
  0%,
  9%,
  20%,
  29%,
  40%,
  50% {
    -webkit-transform: translateX(10%) rotate(4deg);
            transform: translateX(10%) rotate(4deg);
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    -webkit-transform: translateX(25%) rotate(0deg);
            transform: translateX(25%) rotate(0deg);
  }
}

@keyframes fragile {
  0%,
  9%,
  20%,
  29%,
  40%,
  50% {
    -webkit-transform: translateX(10%) rotate(4deg);
            transform: translateX(10%) rotate(4deg);
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  100% {
    -webkit-transform: translateX(25%) rotate(0deg);
            transform: translateX(25%) rotate(0deg);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes categoriesCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-43.3vw * 6));
            transform: translateX(calc(-43.3vw * 6));
  }
}

@keyframes categoriesCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-43.3vw * 6));
            transform: translateX(calc(-43.3vw * 6));
  }
}

@-webkit-keyframes carrousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 9));
            transform: translateX(calc(-30vw * 9));
  }
}

@keyframes carrousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 9));
            transform: translateX(calc(-30vw * 9));
  }
}

@-webkit-keyframes carrouselReverse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 8));
            transform: translateX(calc(-30vw * 8));
  }
}

@keyframes carrouselReverse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30vw * 8));
            transform: translateX(calc(-30vw * 8));
  }
}
/*# sourceMappingURL=index.css.map */